.footer
  padding-top: 80px
  background: white
  display: flex
  justify-content: center

  .articlesMainContainer
    width: 60%
    display: flex
    min-width: 300px
    flex-direction: row
    justify-content: center
    align-items: flex-start
    @media(max-width: 1000px)
      flex-direction: column